body {
  margin: 0px;
}
  .calcbutton {
    margin: 2px;
    border: solid 0px;
    border-radius: 10px;
    font-family: Calibri;
    transition-duration: 0.2s;
    width: 60px;
    font-size: 30px;
    height: 60px;
  }
   .calcbutton--operator {
   margin: 2px;
   border: solid 0px;
   border-radius: 10px;
   font-family: Calibri;
   transition-duration: 0.2s;
   width: 60px;
   height: 60px;
   font-size: 30px;
 }
    .calcbutton--enter {
     margin: 2px;
     border: solid 0px;
     border-radius: 10px;
     font-family: Calibri;
     transition-duration: 0.2s;
     width: 60px;
     height: 60px;
     font-size: 30px;
   }
      .calcbutton--decimal {
     margin: 2px;
     border: solid 0px;
     border-radius: 10px;
     font-family: Calibri;
     transition-duration: 0.2s;
     width: 60px;
     height: 60px;
     font-size: 30px;
   }
 .calcbutton--operator:hover {
   box-shadow: 0 1px 2px darkslategray;
   cursor: pointer;
   background-color: lightgray;
}
  p {
    font-family: Calibri;
    font-size: 20px;
  }
a {
  font-family: Calibri;
  color: black;
}
  a:hover {
    text-decoration: none;
    color: black;
  }
  .calc {
    box-shadow: 0 3px 5px darkslategray;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Calibri;
    font-size: 20;
    border-radius: 10px;
  }
  
  .calcbutton:hover {
    box-shadow: 0 1px 2px darkslategray;
    cursor: pointer;
    background-color: lightgray;
  }
    .calcbutton--enter:hover {
  box-shadow: 0 1px 2px darkslategray;
  cursor: pointer;
  background-color: lightgray;
  }
  .calcbutton--decimal:hover {
  box-shadow: 0 1px 2px darkslategray;
  cursor: pointer;
  background-color: lightgray;
  }
  .calcdiv {
    background-color: lightgray;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     border: double 0px;
     height: 225px;
     border-color: darkgray;
     border-radius: 0px 0px 10px 10px;
     width: auto;
     height: auto;
  }
  .ansdiv {
    text-align: end;
    border: double 0px;
    width: 216.4px;
    height: 75px;
    border-color: darkgray;
    border-radius: 10px 10px 0px 0px;
    border-bottom-color: white;
    background-color: #F5F5F5;
    padding: 5px;
    display: table-cell;
    vertical-align: bottom;
    font-size: 30px;
    font-family: Verdana;
    padding-right: 20px;
    padding-left: 20px;
  }
  .topborder {
    width: 100vw;
    margin-bottom: 30px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 2.5px;
    height: fit-content;
    box-shadow: 0 10px 6px -2px gray;
    display: grid;
    grid-template-columns: 1fr 10fr 10fr;
    column-gap: 5px;
    align-items: center;
  
  }
  .copyright {
    margin: 20px;
    text-align: center;
  }
  .copyright {
    margin: 20px;
    text-align: center;
  }
